# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
_bkp/craco.config.js
_bkp/level-predict.js
_bkp/package-lock.json
_bkp/package.json
_bkp/public/favicon.png
_bkp/public/index.html
_bkp/public/manifest.json
_bkp/public/robots.txt
_bkp/public/icon/favicon-64x64.png
_bkp/public/icon/favicon-192x192.png
_bkp/public/icon/favicon-512x512.png
_bkp/src/App.js
_bkp/src/App.less
_bkp/src/App.test.js
_bkp/src/index.css
_bkp/src/index.js
_bkp/src/serviceWorker.js
_bkp/src/setupTests.js
_bkp/src/constants/eventDetails.js
_bkp/src/services/storageService.js
